* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    /* #2193b0 → #6dd5ed */
    --light-theme-body: white;
    --light-theme-text: black;
    /*  */
    --dark-theme-body: black;
    --dark-theme-text: white;
    /*  */
    --theme-base-body: var(--dark-theme-body);
    --theme-base-text: var(--dark-theme-text);
    font-size: 1em;
}

@media (min-width: 0px) {
     :root {
        font-size: .5em;
    }
}

@media (min-width: 400px) {
     :root {
        font-size: .6em;
    }
}

@media (min-width: 600px) {
     :root {
        font-size: .7em;
    }
}

@media (min-width: 800px) {
     :root {
        font-size: .8em;
    }
}

@media (min-width: 1000px) {
     :root {
        font-size: .9em;
    }
}